/* Сброс стилей по умолчанию */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  border: none;
  max-width: 100%;
  object-fit: cover;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  /* По дефолту, шрифтовые свойства, для этих элементов не наследуются */
  color: inherit;
  letter-spacing: inherit;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Focus Visible */

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

*:focus {
  outline: 3px solid var(--main-color);
  outline-offset: 2px;
}

/* Базовые (основные) стили: */

:root {
  --main-color: #9873FF;
  --main-active-color: #8052FF;
  --main-hover-color: #B89EFF;
  --green-color: #34C759;
  --orange-color: #E6B127;
  --red-color: #F06A4D;
  --grey-color: #C8C5D1;
  --light-grey-color: #EFEEF1;
  --select-grey-color: #E7E5EB;
  --dark-grey-color: #666666;
  --white-color: #FFFFFF;
  --txt-grey-color: #B0B0B0;
  --black-color: #333333;
  --bg-color: #F5F5F5;
  --transition: .25s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, .5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s ease, visibility .35s ease;
  z-index: 11;
}

.overlay--active {
  opacity: 1;
  visibility: visible;
}

body {
  position: relative;
  margin: 0;
  font-family: "open-sans", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: var(--txt-grey-color);
  background-color: var(--bg-color);
}

.body--lock {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  padding: 50px 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  max-width: 1366px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  border: 1px solid var(--main-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color);
  background-color: transparent;
  transition: border-color var(--transition), color var(--transition), background-color var(--transition), box-shadow var(--transition);
}

@media (min-width: 1025px) {

  .btn:hover {
    color: var(--white-color);
    background-color: var(--main-hover-color);
  }

}

.btn:active {
  color: var(--white-color);
  background-color: var(--main-active-color);
}

input {
  display: block;
  border: 1px solid var(--grey-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--black-color);
  caret-color: var(--main-color);
  transition: border-color var(--transition);
}

input::placeholder {
  color: var(--txt-grey-color);
  transition: color var(--transition), opacity var(--transition);
}

.main-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--black-color);
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--black-color);
}

.section-text {
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-color);
}

@media (min-width: 1025px) {

  input:hover {
    border-color: var(--main-color);
  }

  input:hover::placeholder {
    color: var(--black-color);
  }

}

input:active,
input.focus-visible {
  outline: none;
  border-color: var(--main-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  z-index: -1;
}

.simplebar-content-wrapper {
  overflow: auto;
}

._hidden {
  display: none !important;
}

/* Header: */

.header {
  background-color: var(--white-color);
  box-shadow: 0 0 20px var(--grey-color);
}

.header__container {
  padding: 20px;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__link {
  flex: 0 0 50px;
  display: block;
  margin-right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
  background-image: url('../img/svg/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform var(--transition), box-shadow var(--transition);
}

@media (min-width: 1025px) {

  .header__link:hover {
    box-shadow: 0 0 12px var(--main-color);
  }

}

.header__link:active,
.header__link.focus-visible {
  transform: scale(.95);
  box-shadow: 0 0 12px var(--main-color);
}

.search__input {
  padding: 10px 15px;
  width: 450px;
  font-weight: 400;
  transition: border-color var(--transition), box-shadow var(--transition);
}

.search__input.focus-visible {
  box-shadow: 0 0 12px var(--main-hover-color);
}

.search__input:active::placeholder,
.search__input.focus-visible::placeholder {
  opacity: 0;
}

/* Clients Section */

.clients__container {
  padding-left: 90px;
  padding-right: 90px;
}

.clients__title {
  margin-bottom: 25px;
}

/* Clients Table */

.table-wrapper {
  max-height: 550px;
  margin-bottom: 25px;
  overflow: auto;
}

.clients__table {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  text-align: left;
}

.table__head {
  position: sticky;
  top: 0;
  font-size: 12px;
  background-color: var(--bg-color);
  z-index: 1;
}

.table__head-cell {
  padding-right: 10px;
  padding-bottom: 5px;
}

.table__head-cell:first-child {
  padding-left: 20px;
}

.table__head-cell:nth-child(1n) {
  width: 10%;
}

.table__head-cell:nth-child(2n) {
  width: 25%;
}

.table__head-cell:nth-child(3n),
.table__head-cell:nth-child(4n),
.table__head-cell:nth-child(5n) {
  width: 15%;
}

.table__head-cell:nth-child(6n) {
  width: 20%;
}

.table__head-cell:last-child {
  padding-right: 20px;
}

.table__head-cell span {
  position: relative;
  padding: 3px 15px 3px 0;
  cursor: pointer;
  transition: color var(--transition);
}

@media (min-width: 1025px) {

  .table__head-cell span:hover {
    color: var(--main-hover-color);
  }

}

.table__head-cell span:active,
.table__head-cell span.focus-visible {
  color: var(--main-hover-color);
}

.table__head-cell--sortable span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url('../img/svg/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%) scaleY(1);
  transition: transform var(--transition);
}

.table__head-cell--sorted span::after {
  transform: translateY(-50%) scaleY(-1);
}

.table__head-cell.table__head-cell--sorted span,
.table__head-cell.table__head-cell--reversed span {
  color: var(--main-color);
}

.table__head-cell--sortable:nth-child(2) span {
  padding-right: 32px;
}

.table__head-cell--sortable:nth-child(2) span::after {
  right: 18px;
}

.table__head-cell--sortable:nth-child(2) span::before {
  content: 'А-Я';
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 10px;
  font-weight: 600;
  color: var(--main-hover-color);
  transform: translateY(-50%);
  transition: transform var(--transition);
}

.table__head-cell--sortable:nth-child(2).table__head-cell--reversed span::before {
  content: 'Я-А';
}

.table__body {
  font-size: 14px;
  color: var(--black-color);
  background-color: var(--white-color);
}

.clients__table._loading,
.clients__table._error {
  position: relative;
  margin-bottom: 300px;
}

.clients__table._loading::before,
.clients__table._loading::after {
  content: '';
  position: absolute;

}

.clients__table._loading::before {
  top: 100%;
  padding-top: 25px;
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: var(--white-color);
}

.clients__table._loading::after {
  top: 125px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-color: transparent;
  background-image: url('../img/svg/loading.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  animation: spin 2.5s linear infinite;
}


.clients__table._error::before,
.clients__table._error::after {
  position: absolute;
  left: 50%;
  color: var(--red-color);
  transform: translateX(-50%);
}

.clients__table._error::before {
  content: 'Загрузка клиентов не удалась';
  top: 50px;
  font-size: 36px;
}

.clients__table._error::after {
  content: '\2639';
  top: 100px;
  font-size: 100px;
}

.table__row:not(:last-child) {
  border-bottom: 1px solid var(--light-grey-color);
}

.table__row--hidden {
  display: none;
}

.table__cell {
  padding: 20px 10px 20px 0;
}

.table__cell:first-child {
  padding-left: 20px;
}

.table__cell:last-child {
  padding-right: 20px;
}

.table__cell--id {
  font-size: 12px;
  color: var(--txt-grey-color);
}

.table__cell--date span {
  margin-left: 5px;
  color: var(--txt-grey-color);
}

.table__cell--contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.table__body-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 8px;
  font-weight: 600;
  color: var(--black-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: .7;
  transition: opacity var(--transition);
  /* z-index: 2; */
}

.table__body-link--show-all {
  border: 1px solid var(--main-color);
  transition: color var(--transition), background-color var(--transition), opacity var(--transition);
}

@media (min-width: 1025px) {

  .table__body-link--show-all:hover {
    color: var(--light-grey-color);
    background-color: var(--main-hover-color);
  }

}

.table__body-link--show-all:active,
.table__body-link--show-all.focus-visible {
  color: var(--light-grey-color);
  background-color: var(--main-color);
  opacity: 1;
}

.table__body-link--hidden {
  display: none;
}

.table__body-link::before,
.table__body-link::after {
  position: absolute;
  left: 50%;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
  z-index: 2;
}

.table__body-link::before {
  content: '';
  bottom: calc(100% - 5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: var(--black-color) transparent transparent transparent;
  /* border: 6px solid transparent;
  border-top: 6px solid var(--black-color); */
  transform: translateX(-50%);
}

.table__body-link::after {
  content: attr(data-tooltip);
  bottom: calc(100% + 7px);
  padding: 7px 18px;
  color: var(--white-color);
  white-space: nowrap;
  background-color: var(--black-color);
  transform: translateX(-50%);
}

.table__body-link:not(:last-child) {
  margin-right: 7px;
}

.table__body-link--phone {
  background-image: url('../img/svg/social/phone.svg');
}

.table__body-link--email {
  background-image: url('../img/svg/social/mail.svg');
}

.table__body-link--vk {
  background-image: url('../img/svg/social/vk.svg');
}

.table__body-link--facebook {
  background-image: url('../img/svg/social/fb.svg');
}

.table__body-link--other {
  background-image: url('../img/svg/social/other.svg');
}

@media (min-width: 1025px) {

  .table__body-link:hover {
    opacity: 1;
  }

  .table__body-link:hover::before,
  .table__body-link:hover::after {
    opacity: 1;
    visibility: visible;
  }

}

.table__body-link:active,
.table__body-link.focus-visible {
  opacity: 1;
}

.table__body-link:active::before,
.table__body-link.focus-visible::before,
.table__body-link:active::after,
.table__body-link.focus-visible::after {
  opacity: 1;
  visibility: visible;
}

.table__btn:not(:last-child) {
  margin-right: 30px;
}

.table__btn span {
  position: relative;
  padding-left: 22px;
  transition: color var(--transition);
}

.table__btn span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  opacity: .7;
  animation: none;
  transition: opacity var(--transition);
}

.table__edit-btn span::after {
  background-image: url('../img/svg/edit.svg');
}

.table__edit-btn._loading {
  cursor: not-allowed;
}

.table__edit-btn._loading span::after {
  top: 3px;
  background-image: url('../img/svg/loading_small.svg');
  opacity: 1;
  animation: spin 1.5s linear infinite;
}

.table__edit-btn._error span::after {
  top: 50%;
  background-image: url('../img/svg/del.svg');
  opacity: 1;
  animation: none;
}

.table__delete-btn span::after {
  background-image: url('../img/svg/del.svg');
}

@media (min-width: 1025px) {

  .table__btn:hover span {
    color: var(--main-color);
  }

  .table__delete-btn:hover span {
    color: var(--red-color);
  }

}

.table__btn:active span,
.table__btn.focus-visible span {
  color: var(--main-color);
}

.table__delete-btn:active span,
.table__delete-btn.focus-visible span {
  color: var(--red-color);
}

.table__delete-btn.focus-visible {
  outline-color: var(--red-color);
}

.table__btn:active span::after,
.table__btn.focus-visible span::after {
  opacity: 1;
}

.table__footer {
  position: sticky;
  bottom: 0;
  text-align: right;
  background-color: var(--bg-color);
}

.table__footer--hidden {
  display: none;
}

/* New User Button */

.new-user-btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.new-user-btn__icon {
  width: 23px;
  height: 16px;
  margin-right: 10px;
  fill: var(--main-color);
  transition: fill var(--transition);
}

@media (min-width: 1025px) {

  .new-user-btn:hover .new-user-btn__icon {
    fill: var(--white-color);
  }

}

.new-user-btn:active .new-user-btn__icon {
  fill: var(--white-color);
}

/* Footer */

.footer {
  margin-top: auto;
  background-color: var(--white-color);
  box-shadow: 0 0 20px var(--grey-color);
}

.footer__inner {
  padding: 15px 0;
  text-align: center;
  color: var(--black-color);
}

.footer__mail {
  position: relative;
  color: var(--main-color);
  transition: color var(--transition);
}

.footer__mail::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--main-color);
  transition: width var(--transition), background-color var(--transition);
}

@media (min-width: 1025px) {

  .footer__mail:hover::after {
    width: 100%;
  }

}

.footer__mail:active,
.footer__mail.focus-visible {
  color: var(--main-active-color);
}

.footer__mail:active::after,
.footer__mail.focus-visible::after {
  width: 100%;
  background-color: var(--main-active-color);
}

/* Popups */

.popups {
  display: none;
}

/* Общие стили */

.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, .5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .8s ease, visibility .8s ease;
  z-index: 2;
}

.popup-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: opacity .8s ease, visibility .8s ease;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  width: 450px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 25px var(--dark-grey-color);
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  transform: perspective(500px) translate(0px, -100%) rotateX(60deg);
  transition: opacity .8s ease, transform .8s ease;
}

.popup-overlay--visible .popup--visible {
  opacity: 1;
  transform: perspective(500px) translate(0px, 0%) rotateX(0deg);
  transition: opacity .8s ease, transform .8s ease;
}

.popup__close-btn {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
}

.popup__close-btn::before,
.popup__close-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 2px;
  background-color: var(--grey-color);
  transform-origin: center;
  transition: background-color var(--transition), transform var(--transition);
}

.popup__close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (min-width: 1025px) {

  .popup__close-btn:hover::before,
  .popup__close-btn:hover::after {
    background-color: var(--main-color);
  }

  .popup__close-btn:hover::before {
    transform: translate(-50%, -50%) rotate(135deg);
  }

  .popup__close-btn:hover::after {
    transform: translate(-50%, -50%) rotate(225deg);
  }

}

.popup__close-btn:active::before,
.popup__close-btn:active::after,
.popup__close-btn.focus-visible::before,
.popup__close-btn.focus-visible::after {
  background-color: var(--main-active-color);
}

/* New Client Popup */

.popup--client {
  min-height: 250px;
  max-height: 100%;
}

/* Форма создания клиента */

.form__placeholder {
  margin: 0 30px;
}

.popup__title {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 350px;
  line-height: 1.4;
  text-align: center;
}

.popup__title span {
  font-size: 12px;
  font-weight: 400;
  color: var(--txt-grey-color);
}

.form__placeholder {
  position: relative;
  margin-bottom: 30px;
}

.form__placeholder::before,
.form__placeholder::after {
  position: absolute;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
  z-index: 1;
}

.form__placeholder::before {
  content: '';
  bottom: calc(100% - 5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: var(--black-color) transparent transparent transparent;
  transform: translateX(-50%);
}

.form__placeholder::after {
  content: attr(data-tooltip);
  bottom: calc(100% + 7px);
  padding: 7px 18px;
  color: var(--white-color);
  white-space: nowrap;
  background-color: var(--black-color);
  transform: translateX(-50%);
}

@media (min-width: 1025px) {

  .form__placeholder.is-invalid:hover::before,
  .form__placeholder.is-invalid:hover::after {
    opacity: 1;
    visibility: visible;
  }

}

.popup__form {
  width: 100%;
}

.popup__form-input {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid var(--grey-color);
  transition: border-color var(--transition);
  overflow: visible;
}

.form__placeholder.is-valid .popup__form-input--surname,
.form__placeholder.is-valid .popup__form-input--name {
  border-color: var(--green-color);
}

.form__placeholder.is-invalid .popup__form-input {
  border-color: var(--red-color);
}

.form__placeholder-label {
  position: absolute;
  left: 0;
  top: 2px;
  pointer-events: none;
  transition: font-size .15s ease, top .15s ease;
}

.popup__form-input:active~.form__placeholder-label,
.popup__form-input:focus~.form__placeholder-label,
.popup__form-input--filled~.form__placeholder-label {
  top: -15px;
  font-size: 12px;
}

.form__placeholder-label span {
  color: var(--main-color);
}

.form-contacts {
  background-color: var(--light-grey-color);
}

.form-contacts__item {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 25px;
}

.form-contacts__item::before,
.form-contacts__item::after {
  position: absolute;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
  z-index: 1;
}

.form-contacts__item::before {
  content: '';
  bottom: calc(100% - 5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: var(--black-color) transparent transparent transparent;
  transform: translateX(-50%);
}

.form-contacts__item::after {
  content: attr(data-tooltip);
  bottom: calc(100% + 7px);
  padding: 7px 18px;
  color: var(--white-color);
  white-space: nowrap;
  background-color: var(--black-color);
  transform: translateX(-50%);
}

@media (min-width: 1025px) {

  .form-contacts__item.is-invalid:hover::before,
  .form-contacts__item.is-invalid:hover::after {
    opacity: 1;
    visibility: visible;
  }

}

.form-contacts__item:first-child::before {
  bottom: calc(100% - 30px);
}

.form-contacts__item:first-child::after {
  bottom: calc(100% - 18px);
}

.form-contacts__item:first-child {
  padding-top: 25px;
}

.form-contacts__item:first-child {
  padding-top: 25px;
}

.form-contacts__item:not(:last-child) {
  padding-bottom: 15px;
}

.form-contacts__item:last-child {
  padding-bottom: 25px;
}

.form-contacts__item.is-valid .choices,
.form-contacts__item.is-valid .contacts-item__input,
.form-contacts__item.is-valid .contacts-item__delete-btn {
  box-shadow: 0px 0px 3px var(--green-color);
}

.form-contacts__item.is-invalid .choices,
.form-contacts__item.is-invalid .contacts-item__input,
.form-contacts__item.is-invalid .contacts-item__delete-btn {
  box-shadow: 0px 0px 3px var(--red-color);
}

.contacts-item__input {
  padding: 0 12px;
  margin-left: -1px;
  width: 100%;
  border: none;
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  transition: background-color var(--transition), box-shadow var(--transition);
}

.contacts-item__delete-btn {
  display: flex;
  align-items: center;
  padding: 0 3px;
  border: 1px solid var(--grey-color);
  background-color: var(--select-grey-color);
  transition: border-color var(--transition), background-color var(--transition), box-shadow var(--transition);
}

.delete-btn__icon {
  width: 18px;
  height: 18px;
  fill: var(--txt-grey-color);
  transition: fill var(--transition);
}

@media (min-width: 1025px) {

  .contacts-item__input:hover {
    border-color: var(--grey-color);
    background-color: var(--bg-color);
  }

  .contacts-item__input:hover::placeholder {
    color: var(--grey-color);
  }

  .contacts-item__delete-btn:hover {
    border-color: var(--red-color);
    background-color: var(--light-grey-color);
  }

  .contacts-item__delete-btn:hover .delete-btn__icon {
    fill: var(--red-color);
  }

}

.contacts-item__input:active,
.contacts-item__input.focus-visible {
  border-color: var(--grey-color);
  background-color: var(--bg-color);
}

.contacts-item__input:active::placeholder,
.contacts-item__input.focus-visible::placeholder {
  color: transparent;
}

.contacts-item__delete-btn:active,
.contacts-item__delete-btn.focus-visible {
  border-color: var(--red-color);
  background-color: var(--light-grey-color);
}

.contacts-item__delete-btn:active .delete-btn__icon,
.contacts-item__delete-btn.focus-visible .delete-btn__icon {
  fill: var(--red-color);
}

.add-contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin-bottom: 25px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: var(--black-color);
  background-color: var(--light-grey-color);
  transform: scaleY(1);
  transform-origin: top;
  transition: margin var(--transition), color var(--transition), background-color var(--transition), transform var(--transition);
}

.add-contact-btn--hidden {
  margin-bottom: 0;
  transform: scaleY(0);
}

.add-contact-btn span {
  position: relative;
}

.add-contact-btn span::before,
.add-contact-btn span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  transition: opacity var(--transition), visibility var(--transition), transform var(--transition);
}

.add-contact-btn span::before {
  background-image: url('../img/svg/add.svg');
  opacity: 1;
  visibility: visible;
}

.add-contact-btn span::after {
  background-image: url('../img/svg/add_active.svg');
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 1025px) {

  .add-contact-btn:hover {
    color: var(--main-color);
    background-color: var(--select-grey-color);
  }

  .add-contact-btn:hover span::before {
    opacity: 0;
    visibility: hidden;
  }

  .add-contact-btn:hover span::after {
    opacity: 1;
    visibility: visible;
  }

}

.add-contact-btn:active,
.add-contact-btn.focus-visible {
  outline: none;
  color: var(--main-color);
}

.add-contact-btn:active span::before,
.add-contact-btn.focus-visible span::before {
  opacity: 0;
  visibility: hidden;
}

.add-contact-btn:active span::after,
.add-contact-btn.focus-visible span::after {
  opacity: 1;
  visibility: visible;
}

.add-contact-btn:active span::after,
.add-contact-btn.focus-visible span::after {
  transform: translateY(-50%) rotate(90deg);
}

.form__error-msg {
  padding: 0 100px;
}

.form__error-msg p {
  padding: 0;
  margin-bottom: 25px;
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  color: var(--red-color);
}

.popup__submit-btn {
  display: block;
  padding: 12px 35px;
  margin: 0 auto;
  margin-bottom: 5px;
  color: var(--white-color);
  background-color: var(--main-color);
}

.popup__submit-btn span {
  position: relative;
}

.popup__form-edit._loading span,
.popup__form-edit._error span,
.popup__form-submit._loading span,
.popup__form-submit._error span,
.popup__del-submit._loading span,
.popup__del-submit._error span {
  padding-left: 30px;
}

.popup__form-edit._loading span::before,
.popup__form-edit._error span::before,
.popup__form-submit._loading span::before,
.popup__form-submit._error span::before,
.popup__del-submit._loading span::before,
.popup__del-submit._error span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popup__form-edit._loading span::before,
.popup__form-submit._loading span::before,
.popup__del-submit._loading span::before {
  background-image: url('../img/svg/loading_small_light.svg');
  animation: spin 2.5s linear infinite;
}

.popup__form-edit._error span::before,
.popup__form-submit._error span::before,
.popup__del-submit._error span::before {
  background-image: url('../img/svg/del.svg');
  animation: none;
}

.popup__form-edit._error,
.popup__form-submit._error,
.popup__del-submit._error {
  border-color: var(--red-color);
  color: var(--main-color);
  background-color: var(--white-color);
  box-shadow: 0 0 3px var(--red-color);
}

@media (min-width: 1025px) {

  .popup__form-edit._error:hover,
  .popup__form-submit._error:hover,
  .popup__del-submit._error:hover {
    border-color: var(--main-active-color);
    color: var(--white-color);
    background-color: var(--main-hover-color);
    box-shadow: none;
  }

}

.popup__form-edit._loading:disabled,
.popup__form-edit._error:disabled,
.popup__form-submit._loading:disabled,
.popup__form-submit._error:disabled,
.popup__del-submit._loading:disabled,
.popup__del-submit._error:disabled {
  color: var(--main-color);
  background-color: var(--white-color);
  cursor: not-allowed;
}

.popup__cancel-btn,
.popup__delete-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 400;
  color: var(--black-color);
}

.popup__cancel-btn::after,
.popup__delete-btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: width var(--transition);
}

@media (min-width: 1025px) {

  .popup__cancel-btn:hover::after,
  .popup__delete-btn:hover::after {
    width: 100%;
  }

}

.popup__cancel-btn:active::after,
.popup__cancel-btn.focus-visible::after,
.popup__delete-btn:active::after,
.popup__delete-btn.focus-visible::after {
  width: 100%;
}

/* Модальное окно для подтверждения удаления клиента */

.popup--del-client {
  padding: 25px;
  text-align: center;
}

.popup__del-text {
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 275px;
}

/* Custom Select */

.choices {
  margin-bottom: 0;
  width: 200px;
  transition: box-shadow var(--transition);
}

.choices__inner {
  padding: 0;
  min-height: auto;
  border: none;
  border: 1px solid var(--grey-color);
  font-size: 12px;
  color: var(--black-color);
  background-color: var(--select-grey-color);
  transition: background-color var(--transition);
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: var(--grey-color);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  padding: 7px 12px;
}

.choices__list--dropdown {
  color: var(--black-color);
  background-color: var(--select-grey-color);
  z-index: 2;
}

.is-open .choices__list--dropdown {
  border-color: var(--grey-color);
}

.choices__list--dropdown .choices__item {
  font-size: 12px;
}

.choices__list--dropdown .choices__item--selectable {
  padding: 5px 12px;
}

.choices__list--dropdown .choices__item--selectable:after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--light-grey-color);
}

.choices__list--dropdown {
  opacity: 0;
  transition: opacity var(--transition), visibility var(--transition);
}

.choices__list--dropdown.is-active {
  opacity: 1;
}

.choices[data-type*=select-one]:after {
  width: 12px;
  height: 12px;
  margin-top: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../img/svg/select_arrow.svg');
  transform: translateY(-50%) scaleY(1);
  transition: transform var(--transition);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  border-color: var(--main-color);
  transform: translateY(-50%) scaleY(-1);
}

@media (min-width: 1025px) {

  .choices__inner:hover {
    background-color: var(--light-grey-color);
  }

}

.choices.is-open .choices__inner {
  background-color: var(--light-grey-color);
}

/* Custom Scrollbar */

.simplebar-scrollbar::before {
  background-color: var(--main-color);
}

.simplebar-track {
  z-index: 1;
}

@media (max-width: 1366px) {

  .table-wrapper {
    max-height: 450px;
  }

  .clients__container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .clients__table {
    min-width: 1296px;
  }

  .table__footer {
    text-align: left;
  }

  .table__footer>tr>th {
    padding-left: 35px;
  }

}

@media (max-width: 1024px) {

  .form__placeholder.is-invalid {
    position: relative;
  }

  .form__placeholder.is-invalid::after {
    top: 100%;
    font-size: 12px;
    line-height: 1;
    color: var(--red-color);
    text-align: center;
    background-color: var(--white-color);
    opacity: 1;
    visibility: visible;
  }

  .form-contacts__item {
    padding-bottom: 25px !important;
  }

  .form-contacts__item.is-invalid::after {
    bottom: 10px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 1;
    color: var(--red-color);
    text-align: center;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

}

@media (max-width: 768px) {

  .search__input {
    width: 350px;
  }

}

@media (max-width: 576px) {

  .header__link {
    margin-right: 15px;
  }

  .header__search {
    width: 100%;
  }

  .search__input {
    width: 100%;
  }

  .popup {
    width: 100%;
  }

  .popup__title {
    width: 200px;
  }

  .form__placeholder {
    margin-left: 20px;
    margin-right: 20px;
  }

  .form-contacts__item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .popup-overlay {
    padding: 50px 25px;
  }

}

@media (max-width: 375px) {

  .popup__close-btn {
    top: 10px;
    right: 10px;
  }

  .popup__title {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .choices__item,
  .choices__list--dropdown .choices__item,
  .choices__list--dropdown .choices__item--selectable {
    font-size: 10px;
  }

  .choices__list--single,
  .choices__list--dropdown .choices__item--selectable {
    padding-left: 7px;
    padding-right: 7px;
  }

  .popup-overlay {
    padding: 50px 15px;
  }

}
